.summary{
    display: flex;
    flex-direction: column;
    height: auto !important;
    align-items: baseline !important;
    padding: 1.5rem !important;
    margin: 1rem 0 3rem 0 !important;
}

.summary p {
    color: black !important;
}